<p>Hello World</p>

<form id="new-todo">
    <label for="body">NEW TODO</label>
    <input type="text" name="body"/>
    <button type="submit">SAVE</button>
</form>

<ul id = "todo-list">
    {{#each todos}}
    <li>{{this.body}}</li>
    {{/each}}
</ul>
